{% extends "base.html" %} {% block content %}

<script defer src="/static/js/script1.js"></script>
<script defer src="/static/js/template.js"></script>

<script>
  var body = $("body");
  body.on("click", "button.add-col", function () {
    var table = $(this).closest("div.table-content").find("table"),
      thead = table.find("thead"),
      lastTheadRow = thead.find("tr:last-child"),
      tbody = table.find("tbody");

    $("<th>", {
      html: '<div style="display: flex;">\
            <select class="form-control" style="padding:5px;">\
			  <option value="" selected>Select an Product</option>\
			  {% for product in product_list %}\
			  <option value="{{product}}">{{product}}</option>\
			  {% endfor %}					\
		    </select>	\
			<span class="pull-left remove remove-col" style="padding:8px;">x</span>\
		  </div>',
    }).appendTo(lastTheadRow);
    $("<td>", { html: '<input type="text"  value=""/>' }).insertAfter(
      "td:last-child"
    );
  });
</script>

<div id="frame_container">
  <h5 class="section-header">Add New Row</h5>
  <div class="data-frame">
    <div class="frame">
      <div class="sections">
        <button class="btn btn-link add-row add-row-column">Add Row</button>
        <button class="btn btn-link add-col add-row-column">Add Column</button>
        <div class="table-responsive">
          <table class="code_tbl table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Select Equipment</th>
                <th>
                  <div class="input-group">
                    <select class="form-control" style="padding: 5px">
                      <option value="" selected>Select a Product</option>
                      {% for product in product_list %}
                      <option value="{{ product }}">{{ product }}</option>
                      {% endfor %}
                    </select>
                    <span class="input-group-text remove remove-col">x</span>
                  </div>
                </th>
                <th>
                  <div class="input-group">
                    <select class="form-control" style="padding: 5px">
                      <option value="" selected>Select a Product</option>
                      {% for product in product_list %}
                      <option value="{{ product }}">{{ product }}</option>
                      {% endfor %}
                    </select>
                    <span class="input-group-text remove remove-col">x</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="input-group-text remove remove-col">x</span>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="equipment"
                    id="equipment"
                    style="width: 100%"
                  >
                    <option value="" selected>Select an Equipment</option>
                    {% for equipment in equipmet_list %}
                    <option value="{{ equipment }}">{{ equipment }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td><input type="text" value="" class="form-control" /></td>
                <td><input type="text" value="" class="form-control" /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr size="10" />
      </div>
    </div>
  </div>
  <hr size="10" />
  <div id="action-row">
    <button
      id="submit_button"
      type="submit"
      class="btn add_user-btn col-sm-2"
      onclick="submit_Report()"
    >
      Submit
    </button>
  </div>
</div>

{% endblock %}
