{% extends "base.html" %} {% block content %}

<script defer src="/static/js/script1.js"></script>
<script defer src="/static/js/template.js"></script>
<script>
  $(".sub-menu ul").hide();
  $(".sub-menu a").click(function () {
    $(this).parent(".sub-menu").children("ul").slideToggle("100");
    $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
  });
</script>

<!-- FRAME SECTION START -->
<div id="frame_container">
  <h5 id="container_header">Product LOG</h5>
  <div id="data_frame">
    <div class="frame">
      <div class="sections">
        <table class="code-table table-striped table-bordered">
          <tr>
            <th>USER ID</th>
            <th>STATUS</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>ACTION</th>
          </tr>
          <tr>
            <td>
              <select
                class="text-field"
                name="user_id"
                id="user_id"
                style="width: 100%"
              >
                <option value="ALL" selected>ALL</option>
                {% for username in usernameList %}
                <option value="{{username}}">{{username}}</option>
                {% endfor %}
              </select>
            </td>

            <td>
              <select
                class="text-field"
                name="STATUS"
                id="STATUS"
                style="width: 100%"
              >
                <option value="ALL" selected>ALL</option>
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
              </select>
            </td>

            <td>
              <input
                type="date"
                name="startdate"
                id="startdate"
                class="text-field"
                placeholder="dd/mm/yyyy"
              />
            </td>
            <td>
              <input
                type="date"
                name="enddate"
                id="enddate"
                class="text-field"
                placeholder="dd/mm/yyyy"
              />
            </td>
            <td>
              <button
                id="submit_button"
                type="submit"
                class="btn btn-row col-sm-6 btn-view-log"
                onclick="view_logbook()"
              >
                VIEW-LOG
              </button>
            </td>
          </tr>
        </table>
        <hr size="10" />

        <table
          class="code-table table-striped table-bordered"
          id="LOGTABLE"
          name="LOGTABLE"
        ></table>
        <br />
        <table
          class="code-table table-striped table-bordered"
          id="ReportTable"
          name="ReportTable"
        ></table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var role = "{{ role }}";
    handle_nav_bar(role);
  });
</script>

{% endblock %}
